aioredis==2.0.1
aiosmtplib==1.1.6
aniso8601==9.0.1
anyio==3.5.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
autopep8==1.6.0
bcrypt==3.2.0
blinker==1.4
certifi==2021.10.8
charset-normalizer==2.0.10
cleo==1.0.0a4
click==8.0.3
cloudpayments==1.6.3
crashtest==0.3.1
cryptography==37.0.2
Deprecated==1.2.13
dnspython==2.2.0
Faker==12.1.0
fastapi==0.75.0
fastapi-jwt-auth==0.5.0
h11==0.12.0
httpcore==0.14.7
httpx==0.23.0
idna==3.3
importlib-resources==5.4.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.0.1
mistune==2.0.2
packaging==21.3
pluggy==1.0.0
pony==0.7.16
pptree==3.1
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
PyJWT==2.4.0
pylev==1.4.0
PyMySQL==1.0.2
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.1
python-dateutil==2.8.2
python-decouple==3.6
python-multipart==0.0.5
python-ulid==1.0.3
pytz==2022.1
PyYAML==6.0
requests==2.27.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
starlette==0.17.1
toml==0.10.2
tomli==2.0.1
types-redis==4.1.11
types-six==1.16.10
typing_extensions==4.0.1
urllib3==1.26.8
uvicorn==0.17.6
Werkzeug==2.0.2
zipp==3.7.0
